<launch>
  <node pkg = "rospkg-ogameasure"
        name = "fsw0010_lsb"
        type = "fsw0010.py"
        >
    <param name="~host" value="192.168.100.51" />
    <param name="~port" value="10001" />
    <remap from = '/dev/fsw0010/__IP__/f_cmd' to = '/dev/fsw0010/ip_192_168_100_51/freq_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/onoff_cmd' to = '/dev/fsw0010/ip_192_168_100_51/onoff_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/freq' to = '/dev/fsw0010/ip_192_168_100_51/freq'/>
    <remap from = '/dev/fsw0010/__IP__/onoff' to = '/dev/fsw0010/ip_192_168_100_51/onoff'/>


  </node>
  <node pkg = "rospkg-ogameasure"
        name = "fsw0010_usb"
        type = "fsw0010.py"
        >
    <param name="~host" value="192.168.100.52" />
    <param name="~port" value="10001" />
    <remap from = '/dev/fsw0010/__IP__/f_cmd' to = '/dev/fsw0010/ip_192_168_100_52/freq_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/onoff_cmd' to = '/dev/fsw0010/ip_192_168_100_52/onoff_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/freq' to = '/dev/fsw0010/ip_192_168_100_52/freq'/>
    <remap from = '/dev/fsw0010/__IP__/onoff' to = '/dev/fsw0010/ip_192_168_100_52/onoff'/>

  </node>
 <node pkg = "rospkg-ogameasure"
        name = "fsw0010_b6_1st"
        type = "fsw0010.py"
        >
    <param name="~host" value="192.168.100.55" />
    <param name="~port" value="10001" />
    <remap from = '/dev/fsw0010/__IP__/f_cmd' to = '/dev/fsw0010/ip_192_168_100_55/freq_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/onoff_cmd' to = '/dev/fsw0010/ip_192_168_100_55/onoff_cmd'/>
    <remap from = '/dev/fsw0010/__IP__/freq' to = '/dev/fsw0010/ip_192_168_100_55/freq'/>
    <remap from = '/dev/fsw0010/__IP__/onoff' to = '/dev/fsw0010/ip_192_168_100_55/onoff'/>


  </node>



</launch>
