<launch>
  <node name = "sis_power_reader_ch1"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_power_ch1_reader.conf" />
  </node>
  <node name = "sis_power_reader_ch2"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_power_ch2_reader.conf" />
  </node>
  <node name = "sis_b6_v_writer1"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b6_lsb_v_wirter.conf" />
  </node>
  <node name = "sis_b6_v_reader1"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b6_lsb_v_reader.conf" />
  </node>
  <node name = "sis_b6_v_writer2"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b6_usb_v_wirter.conf" />
  </node>
  <node name = "sis_b6_v_reader2"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b6_usb_v_reader.conf" />
  </node>
  <node name = "sis_b6_i_reader1"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b6_lsb_i_reader.conf" />
  </node>
  <node name = "sis_b6_i_reader2"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b7_usb_i_reader.conf" />
  </node>
  <node name = "sis_b6_m_writer"
        type = "relay.py"
        pkg = "necst-sisrx_b67">
    <param name = "config_file"
           value = "$(find necst-sisrx_b67)/node_conf/sis_b7_magnet_writer.conf" />
  </node>
</launch>
