<launch>

  <node pkg = "rospkg-ogameasure"
        name = "tpg261_lan"
        type = "tpg261_lan.py">
        <param name="~host" value="192.168.100.178" />
        <param name="~port" value="8000" />

    <remap from = '/dev/tpg/__ip__/pressure' to = '/dev/tpg/ip_192_168_100_178/pressure'/>

  </node>

</launch>
